@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

body {
  color: #212529;
  background-image: url('./img/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.4);
  background-blend-mode: lighten;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  border-bottom: 1px solid #efefef;
  margin-bottom: 32px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
}

.nav-links a {
  text-decoration: none;
  color: #f6f7fb;
  font-weight: bold;
}

.nav-links a:hover {
  text-decoration: underline;
  color: #589167;
}

form {
  display: flex;
  flex-direction: column;
}
form,
legend {
  padding-left: 40px;
  font-weight: bold;
  text-align: left;
  text-decoration: none;
  margin-bottom: 16px;
}

form,
label {
  display: flex;
  justify-content: space-between;
}

form,
input {
  width: 350px;
}
button {
  max-width: 150px;
  margin: 32px 0;
  padding: 7px 20px;
  border-style: none;
  background-image: linear-gradient(45deg, #207561 0%, #589167 100%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  border-radius: 5%;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
}
.searchBox{
  display: flex;
  flex-direction: row;
}
